body{
    font-family: "Microsoft Yahei";
}
#v_login{
    height: 100%;
}
.vr_main{
    border-bottom: 1px solid #999;
    margin: 50px auto 10px;
    height: 474px;

}
.vr_main .m_left {
  width: 465px;
  height: 400px;
  float: left;
  margin: 47px 0 0 150px;
}
.vr_main .m_right{
    float: right;
    width: 502px;
}
.r_head{
    font-size: 22px;
    color: #979797;
    font-weight: bolder;
    text-align: left;
    height: 25px;
    line-height: 25px;
    float: right;
    margin: 0 100px 0 0;
    width: 400px;
}
.r_head span{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #979797;
}
.r_head span a{
    color: #b42025;
}
.r_head span a:hover{
    text-decoration: underline;
}
.r_main{
    width: 400px;
    border: 1px solid #D1D1D1;
    background-color: #fff;
    float: right;
    margin-top: 18px;
    margin-bottom: 20px;
    margin-right: 100px;
}
.r_main .tag{
    width: 400px;
    height: 35px;
    line-height: 35px;
}
.r_main .tag ul li{
    width: 200px;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
    background: #f5f5f5;
    color: #656565;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.r_main .tag ul .active{
    background: #b42025;
    color: #fff;
    font-weight: bolder;
    border-bottom: 1px solid #fff;
}
.show{
    position: relative;
    width: 400px;
    margin-top: -1px;
}
.show .showbox{
    /* top: -1px;
    left: 0;
    position: absolute; */
    display: none;
    padding: 28px 20px 40px 20px;
    border-bottom: dotted 1px #909090;
}
.show .showbox:nth-child(2){
    padding-top: 10px;
}
.show .showbox p{
    overflow: hidden;
    margin-bottom: 18px;
}
.show .showbox input{
    height: 45px;
    width: 358px;
    border: solid 1px #acacac;
    font-size: 14px;
    text-indent: 10px;
    line-height: 45px;
    color: #656565;
}
.show .showbox .phone{
    width: 250px;
}
.show .showbox .code{
    float: left;
    width: 140px;
}
.show .showbox .change{
    float: right;
    color: #000;
    line-height: 18px;
}
.show .showbox .change:hover{
    color: #b42025;
    text-decoration: underline;
}
#canvas{
    float: left;
    border: 1px solid #ccc;
    border-left: 0px;
    width: 138px;
    height: 45px;
}
.show .showbox .getcode{
  float: right;
  display: block;
  width: 99px;
  height: 43px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  text-align: center;
  line-height: 43px;
  color: #b52024;
 font-weight: bolder;
}
.show .showbox .getcode:hover{
    text-decoration: underline;
}
.show .vanclLogin{
    overflow: hidden;
}
.show .vanclLogin .forget{
    display: block;
    line-height: 30px;
    height: 30px;
    color: #b42025;
    font-size: 14px;
    font-weight: bolder;
    float: right;
}
.show .vanclLogin .forget:hover{
    text-decoration: underline;
}
.show .vanlogin{
    clear: both;
    display: block;
    
    width: 360px;
    height: 45px;
    line-height: 45px;
    background: #b42025;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.show .vanlogin:hover{
    font-weight: 700;
}
.glup{
    width: 360px;
    height: 77px;
    margin: 5px 20px 10px 20px;
    box-sizing: border-box;
}
.glup p{
    padding-top: 15px;
    color: #a4a4a4;
    line-height: 14px;
    font-size: 14px;
    font-weight: bolder;
}
.glup .goodlist{
  margin-top: 10px;
}
.glup .goodlist a{
    display: block;
    width: 33px;
    height: 33px;
    float: left;
    margin: 0 10px 0 0;
    background:url(../img/logos.jpg) no-repeat left center;
}
.glup .goodlist a:nth-child(2){
    background-position: -147px 0px;
}
.glup .goodlist a:nth-child(3){
    background-position: -48px 0px;
}
.glup .goodlist a:nth-child(4){
    background-position: -189px 0px;
}
.glup .goodlist a:nth-child(5){
    background-position: -228px 0px;
}
.glup .goodlist a:nth-child(6){
    width: 36px;
    background-position: -93px 0px;
}
.vr_footer p {
  font: 100 12px "瀹嬩綋";
  color: #999999;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}